#properties {
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#nested-list-subheader {
    background-color: rgb(211, 211, 211);
    font-size: 20px;
    color: white;
    text-align: center;
    /* try commenting out the color and see if you which you like better */
}

#favList {
    max-height: 44.5vh;
    overflow: scroll;
}

#allList {
    max-height: 43.5vh;
    overflow: scroll;
}

.MuiListItemText-root {
    margin-bottom: 0;
}